@use '../base/' as *;

nav {
	padding: 2rem;
	width: 100%;
	height: auto;

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		gap: 1.5rem;
		justify-content: center;
		align-items: center;
		list-style: none;

		li.nav-item a {
			color: $yellow;
			text-transform: uppercase;
			text-decoration: none;
			transition: all linear 200ms;
			cursor: pointer;

			@extend .font-sm;
		}

		li.nav-item a:hover {
			color: $white;
		}
	}
}
